body {
  margin: 0;
  padding: 0;
}
.vertical-container div {
  margin: 0 auto;
  line-height: 30px;
  width: 856px;
}
.message {
  padding: 5px;
  background-color: #0275D8;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
.img-container {
  border: 1px solid #ff0;
  width: 856px;
  height: 480px;
  overflow: hidden;
}
.img-container canvas{
  position: absolute;
}
